*{
  font-size:24px;
}
body{
  text-align:justify;
  padding:100px;
  background-color:rgba(255,0,0,.1);
}
div{
  background-color:yellow;
}
p{
  background-color:violet;
}
.style{
  text-decoration: overline;
  font-family:sofia;
}
.lorem{
  font-family:Sofia Sans;
}

.lorem a{
  text-decoration: none;
  color:red;
  font-family:Alice;
}
