*{
  font-size:24px;
}
body{
  text-align:justify;
  padding:100px;
  background-color:rgba(255,0,0,.1);
}
.style{
  text-decoration: overline;
  font-family:sofia;
  color:rgb(255,100,0);
}
.lorem{
  font-family:Sofia Sans;
}

.lorem a{
  text-decoration: none;
  color:red;
  font-family:Alice;
}
